* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container-fluid {
	width: 100%;
	background-position: center;
	background-size: cover;
}
#typing-text {
	display: inline;
}
#typing-icon {
	display: inline;
	color: gray;
}
.a1 {
	text-decoration: none;
	font-style: italic;
	color: blue;
}
hr {
	color: red;
	height: 20px;
}
.mustapha-intro {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 550px;
}
.about {
	position: absolute;
	left: 700px;
	top: 380px;
}

body {
	background-color: black;
	background-size: 100%;
}
p {
	width: 700px;
}
.hero-text {
	color: red;
	font-weight: 600;
	font-size: 42px;
}

.projComp {
	color: tomato;
	padding-bottom: 10px;
}
p {
	color: silver;
	font-size: 20px;
	font-weight: 600;
}
.skc {
	font-size: small;
}
h4,
h5,
ul {
	color: silver;
	font-size: large;
	font-weight: 500;
}
#certifications-hobbies-resume {
	margin-top: 350px;
	padding-left: 40px;
}
#certsh2 {
	color: tomato;
	font-size: 24px;
}
h3 {
	/* color: rgba(255, 99, 71, 0.404); */
	color: green;
	font-size: 20px;
	font-weight: 600;
}
.content1 {
	padding: 100px;
}
.projectscompleted {
	padding: 100px 0 10px 50px;
}
.bac {
	background-color: red;
	border: 1px solid gray;
	color: white;
	border-radius: 14px;
	width: 120px;
	height: 35px;
}
.bac:hover {
	background-color: tomato;
}
@media (max-width: 375px) {
	.para {
		font-size: medium;
		/* padding-right: -490px; */
		text-align: left;
		justify-content: left;
	}
}

.html,
.css,
.js,
.react,
.node-js,
.git {
	display: flex;
	flex-direction: column;

	align-items: center;
	gap: 5px;
}
@media (max-width: 360px) {
	.skills {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
	}

	
	.navbar-brand {
		font-size: 14px;
	}
	.para{
		font-size: 11px;
	}
}
.icons ion-icon {
	color: #fff;
	font-size: 30px;
	padding-left: 14px;
	padding-top: 5px;
	transition: 0.3s ease;
}

.icons ion-icon:hover {
	color: red;
}
.icons1 ion-icon {
	color: #fff;
	font-size: 30px;

	transition: 0.3s ease;
}
.icons1 ion-icon:hover {
	color: green;
}
.icons1 {
	display: flex;
	position: absolute;
	top: 710px;
	left: 20px;
	gap: 20px;
}
.social-contact {
	display: flex;
	align-items: center;
	gap: 30px;
}
h5 {
	align-items: center;
	/* text-align: center; */
}
.langs {
	height: 50px;
}
.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;
}
.projectH5 {
	padding-top: 200px;
}
.projectH5 {
	font-size: 22px;
	font-weight: 700;
	color: red;
}
.projectP5 {
	color: purple;
}
.projectP51 {
	color: red;
}
#carouselExampleCaptions {
	align-items: center;
	justify-content: center;
	margin: 60px 150px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
	color: blue;
	background-color: red;
}
@media (max-width: 820px) {
	.mustapha-intro {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 500px;
	}
	.projectP5,
	.projectP51 {
		display: none;
	}
	.about {
		position: relative;
		left: 180px;
		top: 40px;
	}
	/* .xbtn{
		margin-right: 0;
		padding: 70px;
	} */
	.navbar-toggler {
		margin-right: 130px;
	}
	.content1 {
		padding: 100px 0 10px 25px;
	}
	.para,
	.downpara {
		width: 550px;
	}
	#certifications-hobbies-resume {
		margin-top: 50px;
		padding-left: 20px;
	}
	#carouselExampleCaptions {
		align-items: center;
		justify-content: center;
		margin: 0 10px 0 10px;
		width: 600px;
	}
}
@media (max-width: 765px) {
	.mustapha-intro {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 500px;
	}
	.projectscompleted {
		padding: 10px 0 30px 50px;
		left: 20px;
		position: absolute;
	}
	.projectP5,
	.projectP51 {
		display: none;
	}
	.projectH5 {
		display: block;
	}
	.about {
		position: relative;
		left: 100px;
		top: 40px;
	}
	/* .xbtn{
		margin-right: 0;
		padding: 70px;
	} */
	.navbar-toggler {
		margin-right: 130px;
	}
	.content1 {
		padding: 100px 0 10px 25px;
	}
	.para,
	.downpara {
		width: 550px;
	}
	#certifications-hobbies-resume {
		margin-top: 50px;
		padding-left: 20px;
	}
	#carouselExampleCaptions {
		align-items: center;
		justify-content: center;
		margin: 0 10px 0 10px;
		width: 600px;
	}
}
@media (max-width: 480px) {
	.mustapha-intro {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 350px;
	}
	.projectscompleted {
		padding: 10px 0 30px 50px;
		/* left: 20px; */
		position: relative;
	}
	.about {
		position: relative;
		left: 20px;
		top: 30px;
	}
	.social-contact {
		display: flex;
		gap: 15px;
		align-items: normal;
		gap: 10px;
	}
	#xbtn {
		padding-right: 70px;
	}
	#carouselExampleCaptions {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0 40px 40px 0;
		width: inherit;
	}
	.navbar-toggler {
		margin-right: 16px;
	}
	.para,
	.downpara {
		width: 360px;
	}
	.content1 {
		padding: 100px 0 10px 15px;
	}
	#certifications-hobbies-resume {
		margin-top: 50px;
		padding-left: 40px;
	}
	.hero-text {
		color: red;
		font-weight: 600;
		font-size: 42px;
	}
}

/* let typingIcon = document.getElementsByClassName('typing-icon')
 typingIcon = '|'
typingIcon.style.color('gray') */
